.add-course{
    width: 800px;
    height: 700px;
}
.step {
    background-color: #4B527E;
}

.complete .step{
    background-color: #7C81AD;
    color: #2E4374;
  }
  
.complete p{
  color: #2E4374;  
}

.active .step{
    background-color: #2E4374;
}
.step-item {
    @apply relative flex flex-col justify-center items-center w-36;
  }
  .step-item:not(:first-child):before {
    @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
  }
  .step {
    @apply w-10 h-10 flex items-center justify-center z-10 relative  rounded-full font-semibold text-white;
  }
  
  .complete p {
    @apply text-white;
  }
  .complete:not(:first-child):before,
  .active:not(:first-child):before {
    @apply bg-green-600;
  }
  