* {
    box-sizing: border-box;
  }
.course-card{
    /* width: 300px; */
    max-width: 300px;
    min-width: 230px;
    /* height: 320px; */
    background: #e0e0e0;
    box-shadow:  5px 5px 8px #cccccc,
    -5px -5px 8px #f4f4f4;
}

.course-card:hover{
    box-shadow:  5px 5px 18px #cccccc,
    -5px -5px 18px #f4f4f4;
}

